# ignore bott files
/results/*
/cha_results/*
/raw_files/*
/cha_raw_files/*
*.bott

# ignore CodeBlocks/Netbeans project files
bin
build
*.cbp
*.layout
*.depend
dist
Makefile
nbproject
obj
src
include
.dep.inc

# ignore log files
*.log
nohup.out

#ignore tmpfile and cookie
/vjudge-v2/cookies/*
/vjudge-v2/tmpfile/*
